// pad時間軸
.mob_time_bar_all {
  display: none;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  opacity: 0;
  position: relative;
  top: 200px;

  @include mobile() {
    display: block;
  }

// =====================================

  // 時間軸上的點和文字
  .time_table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
// =========================================

    // <!-- pad時間軸上面資訊 -->
    .time_list_content {
      
      // pad得獎紀錄、畢業
      .time_list {
        vertical-align: middle;
        
// =======================================
        // 虛線、圓圈

        .line_icon {
          display: flex;
          align-items: center;
          width: 95%;
          
          &:nth-child(1) {
            justify-content: flex-end;
          }

          &:nth-child(2) {
            justify-content: flex-start;
          }

          .hex {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 50px;
            background-image: url(../image/六角形-01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            text-align: center;
            margin: 0;
  
            .fas {
              color: white;
              font-size: 20px;
              display: block; 
              margin: 0 auto;
              text-align: center;

            }
  
            .fa-award {
              font-size: 24px;

            }

            
          }
  
          .dashed_line {
            width:90%;
            // height: 2px;
            border-bottom: 1.5px dashed $color2;
            // background-color: $text-color;
            margin: 0;
            text-decoration-style: dashed;
            @include pad() {
              
            }
  
            @include mobile() {
              font-size: 26px;
            }

          }

          .circle {
            width: 7px;
            height: 7px;
            margin: 0;
            background-color: $color2;
            text-align: center;
            border-radius: 50%;
          }
        }

        .disable {
          opacity: 0;
        }

  // =======================================
        
// =======================================
        // 文字資訊
        .time_list_data {
          // margin: 15px auto 0 auto;
          line-height: 1.4;
          font-weight: bold;
          white-space: nowrap;
          // padding: 10px 0;
          

          .time_list_title {
            color: $title-color;
            font-size: 16px;

            p {
              margin: 0;
            }
          }

          .time_sub_title {
            color: $title-color;
            font-size: 14px;
          }

          .berg {
            font-size: 12px;
          }

          .time_list_content {
            font-size: 12px;
            @include pc-s() {
              // font-size: 8px;
            }
          }

          .time_list_work {
            color: #585047;
            font-size: 14px;
          }
        }

      }


      .pad_time_td1 {
        display: flex;
        // justify-content: flex-end;
        width: 100%;
        text-align: left;
        
      }


      .time_bar_td {
        .pad_time_bar {
          width: 3.5px;
          height: 100%;
          font-size: 16px;
          background-color: $color2;
          text-align: center;
          margin: 0 auto;
          border-radius: 5px;
        }
      }
      

      .key_time_td {
        text-align: center;
        width: 15%;
        
        // vertical-align: middle;
        

        .key_time {
          padding: 3px 6px;
          margin: 0 15px;
          text-align: center;
          background-color: $color2;
          font-weight: bold;
          border-radius: 5px;
          color: white;
          z-index: 999;

          @include pad() {
            font-size: 12px; 
          }

          @include mobile() {
            font-size: 10px; 
          }

          .key_time_botm {
            margin-top: 25px;
          }
        }

        
      }

      .mob_time_td3 {
        width: 40%;
        text-align: left;
      }

      

      .time_list_top {
        vertical-align: bottom; 
      }

      .time_list_bottom {
        position: relative;
        top: 7px;
      }
    }


// =========================================

    

  }
  // 時間軸上的點 end
}
// pad時間軸 end