$text-color: #746b60;
$link-color: #746b60; 
$link-color-hover: #c9b89d;
$font-size: 16px;
$font-size_h1: 30px;
$font-style-en: "Helvetica Nueue" , Arial, Sans Serif;
$font-style-ch: 微軟正黑體;
$title-font: "Bree Serif";
$title-color: #8d9610;
$color1: #b4be13;
$color2: #a3947b;
$color3: #c8bca8;



$mq1200: 1200px;
$mq119998:1199.98px;
$mq992: 992px;
$mq768: 768px;
$mq576: 576px;
$mq57598: 575.98px;
$mq376: 376px;